/*General Styling*/
input::placeholder {
    color: red;
}

@media(max-width: 1400px) {
    .justify-evenly-below-desktop {
        justify-content: space-evenly;
    }
}

/*Index Page*/
#hero {
    height: calc(100vh);
    background-image: url('/images/hero-coffee.jpg');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

#catering {
    height: fit-content;
    background-image: url('/images/catering.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Catering Page*/
#catering-order {
    background-image: url('/images/coffee-toast.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#catering-order-form {
    max-width: 625px;
    margin: 0 auto;
}

/*Contact Page*/